# kresimirko.github.io

\[temporary website]

## Works

[kikipnt](https://kresimirko.github.io/kikipnt/#/)

[Digitalizacija televizije](https://kresimirko.github.io/digitalizacija-tv/) ([old link, doesn't work](https://edit.trema.hr/projekti/2022/osnovni/Brac-Mihovilovic/))

[Karta gradske jezgre Trogira](https://kresimirko.github.io/karta-trogira/)

---

theme is [catppuccin](https://catppuccin.com/palette/)

&copy; kresimirko 2025
