* {
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
}

.theme-light { /* ctp latte */
    --base: #eff1f5;
    --base-tp: #eff1f5bf;
    --text: #4c4f69;
    --accent: #1e66f5; /* blue */
    --accent2: #8839ef; /* mauve */
    --error: #d20f39; /* red */
    --surface0: #ccd0da;
    --mantle: #e6e9ef;
}
.theme-dark { /* ctp mocha */
    --base: #1e1e2e;
    --base-tp: #1e1e2ebf;
    --text: #cdd6f4;
    --accent: #89b4fa; /* blue */
    --accent2: #cba6f7; /* mauve */
    --error: #f38ba8; /* red */
    --surface0: #313244;
    --mantle: #181825;
}

html {
    background-color: var(--base); /* ctp mocha base */
    color: var(--text); /* ctp mocha text */
    margin: 0;
}

body {
    margin: 0;
}

/* h1 {
    margin-top: 0;
} */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:link {
    color: var(--accent); /* ctp mocha mauve */
}

a:visited {
    color: var(--accent2); /* ctp mocha lavender */
}

hr {
    border: 1px solid var(--surface0) /* mocha base surface 0 */;
}

table, th, td {
    border: 2px solid #313244;
    border-collapse: collapse;
}

th, td {
    padding: 0.5rem;
}
