* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: #1e1e2e; /* ctp mocha base */
    color: #cdd6f4; /* ctp mocha text */
    @media screen and (min-width: 480px) {
        margin: 4rem; /* temporary */
    }
}

a:link {
    color: #cba6f7; /* ctp mocha mauve */
}

a:visited {
    color: #b4befe; /* ctp mocha lavender */
}

hr {
    border: 1px solid #313244 /* mocha base surface 0 */;
}
